* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 800px;
  /* width: 900px; */
  border: 2px solid black;
  margin: 10px auto;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap:wrap; */
  /* flex-flow: row wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 50px; */
  /* row-gap: 20px; */
  /* column-gap: 20px; */
}

.box {
  width: 90px;
  height: 90px;
  border: 2px dotted gray;
  margin-top: 20px;
}


#box-5{
    order: 1;
    background-color: brown;

}

#box-1{
    order: 2;
    background-color: blueviolet;
}

#box-3{
    background-color: cadetblue;
    flex-basis: 500px;
}

#box-4{
    background-color: tomato;
    flex-grow: 2;
}

#box-6{
    background-color: cornflowerblue;
    flex-shrink: 3;
}

#box-2{
    background-color: teal;
    flex: 2 1 600px;
}