
:root{

    --primaryColor: teal;
    --secondaryColor:coral;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.heading{
    color: var(--primaryColor);
}

.btn{
    background-color: var(--secondaryColor);
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 10px;
}